All Patients

<ul>
<% @patients.each do |patient| %>
  <li> <%= link_to patient.name, patient_path(patient.id) %>
      <ul>
        <li> Appointments: <%= patient.appointments.count %> </li>
      </ul>

  </li>


<% end %>
</ul>


<%#=
Create a Patient#index page that displays a link to each patient's show page
and the total number of appointments they have %>
